body {
    background-image: url(images/fundo.png);
}
.fundo{
    background-color: #FFEDDA;
    width: 75%;
    border-radius: 10px;
    margin: auto;
    padding: 25px; 
}
p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 12px;
    line-height: 2;
    text-indent: 40px;
}

h1, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #D17683;
}
img {
    display: block; /*cria um bloco na imagem*/
    margin: auto; /*Centraliza o bloco*/
}
