.verde {
    color: aquamarine;
}
.framboesa {
    color: cadetblue;
}
.roxo {
    color: royalblue;
}
.vermelho {
    color: red;
}
body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.teste {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
}
p {
    width: auto;
}