table {
    text-align: center;
    margin: auto;

}
td, tr, th{
    border-style: solid;
    background-color: rgb(184, 239, 247);
    border-width: 0px;
    padding: 8px;
    border-radius: 4px;
    vertical-align: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
 

}
.verde {
    background-color: rgb(150, 238, 216);
    text-align: center;

}
body {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
img {
    vertical-align: bottom;
    display: block;
    margin: auto;
}