body {
    text-align: center;
    background-color: black;
}

table {
    color: rgb(127, 236, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;
    text-align: left;
}